@import url("styles/ie.css");
@import url("styles/media-queries.css");
@import url("styles/reset.css");
@import url("styles/responsive-gs-12col.css");

body {
	background: #bdcde0;
	font-family: 'Open Sans', Arial;
	font-size: 14px;
}

.container {
	width: 100%;
	max-width: 960px;
	
}
.header {

}
#logo {

}
#content {
	background: #f2f2f2;
	border: 5px solid #fff;
	padding: 5px;
}
#content h1 {
	font-size: 24px;
	font-weight: 600;
	color: #000;
	border-top: 5px #01207c solid;

}
#content #udsigt h2 {
	font-style: italic;
}
#content h1, #content h2, #content p, form {
	padding: 5px 0 5px 10px;

}

#content p {
	margin-bottom: 10px;
	font-size: 12px;
}

#tabs {
	padding: 5px 0 5px 10px;
}
#tabs ul {
	display: block;
	margin: 10px 0 0px 10px;
	float: right;
}
#tabs ul li {
	float: left;
	margin-right: 5px;
	padding: 2px 15px;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;

	-webkit-border-top-left-radius: 10px 100%;
	-webkit-border-top-right-radius: 10px 100%;
	-moz-border-radius-topleft: 10px 100%;
	-moz-border-radius-topright: 10px 100%;
	border-top-left-radius: 10px 100%;
	border-top-right-radius: 10px 100%;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background: #f3f3eb/*{bgColorDefault}*/ }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background: #DADAD2/*{bgColorActive}*/ }


#tabs h2, #tabs h2 a {
	font-family: 'Open Sans', Arial;
	font-size: 18px;
	font-weight: 600;
	border: none;
}
a { border: 0; color: #000; text-decoration: none;}
a:hover { border: 0; color: #01207c;}
a:active { color: #01207c;;}

input {

}
textarea { border: 1px solid #000;}

/* Mobile */
	@media only screen and (max-width: 670px) {		
		body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
		.container { min-width: 0; margin-left: 0; margin-right: 0; }
		.row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
		.row .row .column, .row .row .columns { padding: 0; }
		.column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
		.column:last-child, .columns:last-child { margin-right: 0; }
		
		}
